#locations {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

button {
    margin: 0 0 1rem 0;
}

button:hover {
    color: #3366ff;
    background: white;
}

#map {
    height: 250px;
    margin-top: 1rem;
}

#vendor {
    margin-top: 1rem;
    display: none;
}

p {
    margin: 0;
}

p:last-of-type {
    margin-bottom: 1rem;
}

#offline-button {
    display: none;
}